@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Familjen+Grotesk:wght@400;600;700&family=Hanken+Grotesk:ital,wght@1,800&family=Manrope:wght@200&family=Nanum+Myeongjo&family=Playfair+Display&family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #1e5bb8, #1a68c5, #1676d2, #1383df, #1291eb);
}

.wrapper{
    width: 780px;
    background-color: black;
    border-radius: 20px;
    padding: 35px 40px;
}

.wrapper header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    font-size: 1.6rem;
    color: rgb(0, 195, 254);
}

header .column{
    display: flex;
    align-items: center;
}

header .column span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.1;
}

.volume-slider input{
    accent-color: white;
    outline: none;
}

.keys-checkbox input{
    width: 60px;
    height: 30px;
    appearance: none;
    background-color: darkgray;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.keys-checkbox input::before{
    content: '';
    height: 20px;
    width: 20px;
    background-color: rgb(41, 41, 41);
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-checkbox input:checked::before {
    left: 35px;
    background-color: #fff;
}

/* Piano keys */
.piano-keys{
    display: flex;
    margin-top: 40px;
}

.piano-keys .key{
    list-style: none;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.piano-keys .white{
    width: 70px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black{
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333 , #000);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343 );
}

.piano-keys span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}